.workbench input{
	outline: none;
}
.workbench>.citems-list{
	width:30%;
	height:95%;
	float: left;
	border:0.15rem solid white;
	border-radius:0.5rem;
	box-sizing: border-box;
	box-shadow: 0 0 0.3rem gray;
	margin:1%;
	background-color: rgba(255,255,255,0.5);
}
.citems-search{
	width:100%;
	height:2.5rem;
	border-bottom:0.15rem dashed rgb(188,188,188);
	display: flex;
	align-items: center;
	background:linear-gradient(rgba(135,206,235,0.2),rgba(255,255,255,0));
}
.citems-search>input{
	float: left;
	font-size: 0.9rem;
	height:1.5rem;
	/width:10rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	text-indent: 0.5rem;
	border-color: gray;
}
.citems-search>.select-page{
	float: left;
	width:6rem;
	height:1.5rem;
	/border:1px solid red;
	box-sizing: border-box;
	margin-left: 0.5rem;
}
.citems-search>.search-type{
	float: left;
	width:6.5rem;
	height:1.5rem;
	/border:1px solid red;
	box-sizing: border-box;
	margin-left: 0.5rem;
	display: flex;
	align-items: center;
	display:none;
}
.citems-search>.search-type>div{
	float:left;
	/height:100%;
	font-size: 0.8rem;
	padding:0 0.2rem;
	box-sizing: border-box;
	/border:1px solid red;
	box-sizing: border-box;
	cursor: pointer;
	color:rgb(111,111,111);
}
.citems-search>.search-type>.t1{
	margin-right:0.8rem;
	font-weight: bold;
	/color:rgb(0,150,0);
	color:rgb(88,166,200);
	/border-bottom:0.2rem solid rgb(0,150,0);
	border-bottom:0.2rem solid rgb(88,166,200);
}
.citems-search>.select-page>div{
	float: left;
	height:100%;
	width: 1.5rem;
	/border:1px solid blue;
	box-sizing: border-box;
	background-image: url(../../images/icon/left.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: -0.04rem;
	cursor: pointer;
	transform: scale(0.8);
	opacity: 0.7;
}
.citems-search>.select-page>.next{
	transform: rotate(180deg) scale(0.8);
}
.citems-search>.select-page>div:hover{
	opacity: 1;
}
.citems-search>.select-page>input{
	float:left;
	width:2rem;
	text-align: center;
	height: 80%;
	font-size: 1rem;
}
.citems-list>ul{
	/* width: 100%;
	height: 90%;
	border:1px solid red;
	shop-sizing: border-shop;
	overflow-y: auto; */
	height: 91%;
	overflow-y: auto;
}
.craftable-items{
	width:96%;
	/height:2.4rem;
	height:9.7%;
	line-height: 2.4rem;
	margin:0.6rem auto;
	font-size: 0.91rem;
	/border:0.15rem solid rgba(166,217,173,0.9);
	/border-bottom: 0.15rem solid rgb(200,200,200);
	/border:0.2rem solid white;
	box-sizing: border-box;
	border-radius: 0.3rem;
	background-color: rgba(255,255,255,0.7);
	/background-color: rgba(144,255,144,0.2);
	/background: linear-gradient(0deg,rgba(144,255,144,0.1),rgba(255,255,255,0.5));
	/background: linear-gradient(0deg,rgba(200,200,200,0.1),rgba(255,255,255,0.7),rgba(255,255,255,0.7),rgba(200,200,200,0.1));
	box-shadow: 0 0 0.2rem gray;
	/display: flex;
	/align-items: center;
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
	color:rgb(88,88,88);
}
.craftable-items>i{
	width:2.4rem;
	/height:2.4rem;
	height:100%;
	float:left;
	background-image: url(../../images/ItemIcons/decoPumpkinJackOLantern.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50%;
	box-sizing: border-box;
	margin-right:0.8rem;
	/transform: scale(0.8);
	border-right:0.1rem solid rgb(230,230,230);
	border:0.15rem solid rgba(166, 217, 173, 0.9);
	/background-color: rgba(144,255,144,0.1);
	background-color: rgba(166, 217, 173,0.1);
	transform: scale(1.2);
	border-radius: 0.6rem;
}
.craftable-items>.num{
	font-size:0.8rem;
	color:gray;
	color:#F4A460;
	font-style:italic;
	/float:right;
	position: absolute;
	right:0;
	margin-right:0.1rem;
	padding:0 0.4rem;
	/border-left: 0.15rem dashed rgb(200,200,200);
	transform: scale(1.1);
	/background-color: rgba(255,255,255,1);
	background: linear-gradient(120deg,rgba(255,255,255,0.8),rgba(255,238,217,1));
	box-shadow: 0 0 0.2rem gray;
	border-radius: 0.3rem 0 0 0.3rem;
}
.citems-list>ul>.empty{
	width: 16rem;
	height: 19rem;
	color: rgb(166,166,166);
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.1rem;
	/border: 1px solid red;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 3rem;
	margin: auto;
	z-index: 2;
	/background-color: pink;
	background-image: url(../../images/empty6.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: scale(0.8);
}
.citems-list>ul>.empty>span{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}


